<% include header.ejs %>
<div class="container">
    <h2><span class="glyphicon glyphicon-pencil"></span><%= title %></h2>
    <hr/>
    <div id="news-form-container" class="col-md-6">
      <form  id="news-form2" class="form-signin" role="form" method="post">
        <input type="hidden" value="<%= items[0].nid %>" id="newsId"/>
        <div class="form-group">
          <label for="usr">發文者：<%= items[0].name %>(<%= items[0].account %>)</label>
        </div>
        <div class="form-group">
          <label>更新主旨：</label>
          <input id="subject-tf" type="text" name="subject" class="form-control" value="<%= items[0].subject %>"/>
        </div>
        <div class="form-group">
          <label>更新消息內容：</label>
          <textarea rows="16" id="content-tf" type="text" name="content" class="form-control"><%= items[0].content %></textarea>
        </div>
        <hr>
        <div class="form-buttons pull-right">
          <a href="news"><button type="button"class="btn btn-default">取消</button></a>
	  <button type="button" id="news-form-btn1" class="btn"></button>
          <button type="submit" id="news-form-btn2" class="btn btn-info"></button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
    <!-- display form errors in a custom modal window -->
    <% include modals/form-errors %>
    <% include modals/alert %>
    <% include modals/confirm %>
</div>
<script src="/javascripts/views/pi/news.js"></script>
<script src="/javascripts/controllers/pi/newsController.js"></script>
<script src="/javascripts/form-validators/pi/newsValidator.js"></script>
<% include footer.ejs %>

