<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link  rel="stylesheet" href="/stylesheets/style1.css"/>
<link  rel="stylesheet" href="/stylesheets/bootstrap.css"/>
<script src="/javascripts/jquery.min.js"></script>
<script src="/vendor/jquery.form.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</head>
<body class="mybody">
<div class="container">
  <h2><span class="glyphicon glyphicon-pencil"></span><%= title %></h2>
  <hr>
  <a href='/pi'><button type="button" class="btn btn-default">&laquo;回首頁</button></a>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="col-md-6">主旨</th>
          <th class="col-md-2">作者</th>
          <th class="col-md-2">時間</th>
          <th class="col-md-2"></th>
        </tr>
      </thead>
      <tbody>
      <% items.forEach(function(rows) { %>
        <tr>
          <td class="col-md-6"><%= rows.subject %></td>
          <td class="col-md-2"><%= rows.name %></td>
          <td class="col-md-2"><%= rows.post_date %></td>
          <td class="col-md-2"><a href='newsall_content?id=<%= rows.nid %>'><button type="button" class="btn btn-default">查看內容 &raquo;</button></a>
        </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
    <!-- display form errors in a custom modal window -->
    <% include modals/form-errors %>
    <% include modals/alert %>
    <% include modals/confirm %>
</div>
</div>
</body>
</html>
