<% include header.ejs %>
<div class="container">
    <h2><span class="glyphicon glyphicon-pencil"></span><%= title %></h2>
    <h5 id="sub1"></h5>
    <hr>
    <div id="account-form-container" class="col-md-6">
      <a href='user'><button type="button" class="btn btn-default btn-md">&laquo;返回</button></a>
      <div class="well">
      <form  id="account-form" class="form-signin" role="form" method="post">
        <input type="hidden" name="id" value="<%= items[0].eid %>" id="userId"/>
        <div class="form-group">
          <label for="usr">帳號:</label>
            <input id="user-tf" type="text" name="account" value="<%= items[0].account %>" class="form-control">
        </div>
        <div class="form-group">
          <label for="pwd">密碼:*如不需要變更密碼，請忽略填寫</label>
          <input id="pass-tf" type="password" name="passwd" value="" class="form-control">
        </div>
        <div class="form-group">
          <label for="pwd">確認密碼:</label>
          <input id="repass-tf" type="password" name="repasswd" value="" class="form-control">
        </div>
        <hr/>
        <div class="form-group">
          <label for="usr">姓名:</label>
          <input id="name-tf" type="text" name="name" value="<%= items[0].name %>" class="form-control"/>
        </div>
        <div class="form-group">
          <label>性別:</label></br>
          <label class="radio-inline"><input type="radio" name="sex" value="男" <%=  items[0].sex == "男" ? "checked" : "" %>/>男</label>
          <label class="radio-inline"><input type="radio" name="sex" value="女" <%=  items[0].sex == "女" ? "checked" : "" %>/>女</label>
        </div>
        <div class="form-group">
          <label>身分:</label></br>
              <select class="form-control" name="level" id="level">
                <option value="0"<% if(items[0].level==0) {%> selected <% } %>>管理員</option>
                <option value="1"<% if(items[0].level==1) {%> selected <% } %>>主管</option>
                <option value="2"<% if(items[0].level==2) {%> selected <% } %>>員工</option>            
              </select>
	</div>
        <div class="form-group">
          <label>信箱:</label>
            <input id="email-tf" type="text" name="email" value="<%= items[0].email %>" class="form-control"/>
        </div>
        <hr>
        <div class="form-buttons pull-right">
          <button type="button" id="account-form-btn1" class="btn btn-default"></button>
          <button type="submit" id="account-form-btn2" class="btn btn-primary"></button>
        </div>
        <div class="clearfix"></div>
      </form>
      </div>
    </div>
    <!-- display form errors in a custom modal window -->
    <% include modals/form-errors %>
    <% include modals/alert %>
    <% include modals/confirm %>
</div>
<script src="/javascripts/views/useradd.js"></script>
<script src="/javascripts/controllers/useraddController.js"></script>
<script src="/javascripts/form-validators/useraddValidator.js"></script>
<% include footer.ejs %>

